@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --color-zinc-950: #121214; /* O preto profundo e rico da imagem */
  --color-zinc-900: #423738; /* O cinza dos itens ativos da imagem */
  --color-active: #E59312;   /* Um ciano neon vibrante para contraste */
}

/* Reset de segurança para o Tailwind v4 e navegadores modernos */
@layer base {
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-zinc-950 text-zinc-100;
  }
}